<nav class="capitalize-text non-printable" id="breadcrumbs">
	<ol>

	{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

	{% if page.title != "nurmaali" %}
		<li><a href="{{ '/' | relative_url }}">Alisher Nurmatov</a></li>
	{% else %}
<!-- display nothing on index page -->
<!--		<li>home</li>-->
	{% endif %}
	{% for crumb in crumbs offset: 1 %}
	{% if forloop.last %}
	<li>{{ page.title }}</li>
	{% else %}

	{% assign crumb_limit = forloop.index | plus: 1 %}
	{% assign tmp = '' %}
	{% for crumb in crumbs limit: crumb_limit %}
		{% assign tmp = tmp | append: crumb | append: '/' %}
	{% endfor %}
	<li><a href="{{ tmp | prepend: site.baseurl | replace: '//','/' }}">{{ tmp | replace: '/', '' | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
	{% endif %}
	{% endfor %}

	</ol>

</nav>
<!-- | prepend: site.baseurl -->
<!-- {{ crumb | append: '/'  }} -->