<nav id="breadcrumbs">
	{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

	{% if page.title != "nurmaali" %}
		<a href="{{ '/' | relative_url }}">nurmaali</a>
	{% else %}
		nurmaali
	{% endif %}
	{% for crumb in crumbs offset: 1 %}
	{% if forloop.last %}
	/ {{ page.title }}
	{% else %}

	{% assign crumb_limit = forloop.index | plus: 1 %}
	{% assign tmp = '' %}
	{% for crumb in crumbs limit: crumb_limit %}
		{% assign tmp = tmp | append: crumb | append: '/' %}
	{% endfor %}
	/ <a href="{{ tmp | prepend: site.baseurl | replace: '//','/' }}">{{ tmp | replace: '/', '' | replace:'-',' ' | remove:'.html' | capitalize }}</a>
	{% endif %}
	{% endfor %}
</nav>
<!-- | prepend: site.baseurl -->
<!-- {{ crumb | append: '/'  }} -->